sudo: false
git:
  depth: 10

# remove the dist branch and dist tags from travis builds
branches:
  except:
    - dist
    - /^v(\d+\.)?(\d+\.)?(\*|\d+)$/

language: node_js
node_js:
  - "5" # "node" (v6.x) yielded v8::ObjectTemplate::Set() with non-primitive values is deprecated

# enable this once we have reliable builds
cache:
  directories:
    - node_modules

before_script:
  - npm install -g gulpjs/gulp-cli#4.0
  - npm install -g npm # latest npm - e.g. 3.8.3 - buggy transitive dependency resolution

script: gulp defaultAlias
